body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

img {
    display: block;
}
h1,
h2,
h3,
h4,
p {
    margin-top:0;
    margin-bottom: 0;
}
.header {
    border-bottom: 1px solid #e7e9fc;
}
.header-info{
    display: flex;
    align-items: center;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;

}

.header-navigation {
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
}
.header-navigation:hover,
.header-navigation:active {
    color: #404bbf;
}

.logo {
    display: flex;
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

}

.menu {
    color: #2e2f42;
    display: flex;
    gap: 40px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 24px;
    padding-bottom: 24px;
}
.first-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.second-logo {
    color: #2e2f42;
}

.studio {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
}

.studio:hover,
.studio:active {
    color: #404bbf;
}

.portfolio {
    font-weight: 500;
    color: #2e2f42;
}

.contacts {
    font-weight: 500;
    color: #2e2f42;
}

.address {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    
}
.address-item {
    color: #2e2f42;
    
}
.address-list {
    display: flex;
    gap: 40px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.links{
    color: #2e2f42 !important;
}
.address:hover,
.address:active {
    color: #404bbf;
}

.section1 {
    background-color: #2e2f42;
}

.section1-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
}

.first-section {
    padding: 188px 0;
    background-color: #2e2f42;
    gap: 10px;
}
.first-section-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff; 
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 48px;
}

.button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    margin-right: auto;
    margin-left: auto;
}
.button:hover,
.button:focus {
    background-color: #404BBF;
}
a {
    
    text-decoration: none;
}

ul,
nav {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.second-section {
    padding: 120px 0;
}

.features-list {
    display: flex;
    gap: 24px;
    padding-left: 0;
    margin: 0;
}

.features-list .features-item  {
    
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.second-section-small-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.second-section-paragraf {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.third-section {
    padding: 120px 0;
    background-color: #F4F4FD;
}

.third-section-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.third-section-list {
    display: flex;
    gap: 24px;
    padding-left: 0;
    margin: 0;
}
.third-section-list .third-section-item {
    
    flex-basis: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
}

.team-info {
    padding: 32px 0;
}

.third-section-small-title {
    text-align: center;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.third-section-paragraf {
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.fourth-section {
    padding: 120px 0 120px 0;
}

.fourth-section-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.fourth-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding-left: 0;
    margin: 0;
}
.fourth-list .fourth-item {
    width: calc((100% - 48px) / 3);
    
}


.partfolio-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}

.fourth-section-small-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.fourth-section-paragraf {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    padding: 100px 0 100px;
    background-color: #2e2f42;

}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.second-footer-logo{
    color: #F4F4FD
}

.footer-paragraf {
    
    max-width: 264px;
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}
